body {
  font-family: Arial, sans-serif;
  background-color: #FEFFF1;
  width: 900px;
  margin: 0 auto;
}

h1 {
  font-size: 38px
}

h2 {
  font-size: 32px
}

p {
  width: 500px;
  text-decoration-style: dashed;
}



section{
  width: 700px;
  display: inline-block;
  vertical-align: top;

}

aside{
  width: 180px;
  display: inline-block;

}

.ingredients-list {
  list-style: square inside;
  font-weight: 300;
}

.ingredients-list li {
 margin: 10px 0px;
 list-style: square inside;

}

header > img {
  width: 100px;
}

figure > img {
  width: 500px;
  height: 400px;
}

ul li a {
  text-decoration: none;
  color: inherit;
}

ol {
  list-style: lower-roman inside;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background-image: url(../assets/stars.png);
  vertical-align: bottom;

}

input[type="radio"]:checked {
  background-position: 30px 30px;
}



input:last-child {
    background: gold;
}
input:last-child:hover {
  -webkit-filter: brightness(80%);

}

ol li:nth-of-type(2n){
  background-color: #b3b3cc;
  margin: 10px 0px;

}

h2 + .user_review {
  border-top: 1px solid black;
}

nav {
    display: inline-block;
}

nav ul li {
    display:  inline-block;
}

nav ul li a {
    padding: 20px;
    display: block;
}


header > img {
  width: 100px;
}

input[type="text"], select {
  display: block;
  width: 175px;
}

select {
  margin: 10px 0;
  width: 180px
}

textarea {
  width: 350px;
}

label {
  display: block;
}
